* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --area-top: calc(
    var(--tg-safe-area-inset-top, 8px) +
      var(--tg-content-safe-area-inset-top, 0px)
  );

  --area-bottom: calc(
    var(--tg-safe-area-inset-bottom, 8px) +
      var(--tg-content-safe-area-inset-bottom, 0px)
  );
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Medium.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"),
    url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Black.woff2")
      format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Semibold.woff2")
      format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("@winners/shared/assets/fonts/SFPro/SFProDisplay-Regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
